* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1280px;
  margin: 0rem auto;
  padding: 1rem;
}
h1 {
  margin-bottom: 1rem;
}
.dropdown-menu button {
  padding: 1rem 1.5rem;
  background-color: hsl(0, 0%, 90%);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 0.25rem;
}

.dropdown-menu ul {
  display: none;
  list-style-type: none;
  position: relative;
}
.dropdown-menu:hover ul {
  display: block;
  cursor: pointer;
}
.dropdown-menu ul li:first-of-type {
  border-top: transparent;
}
.dropdown-menu ul li {
  border-top: 1px solid hsl(0, 0%, 85%);
  background-color: hsl(0, 0%, 90%);
}

.dropdown-menu ul li a {
  display: block; /* Make <a> behave like a block element */
  padding: 1rem; /* Ensure appropriate padding */
  color: inherit; /* Optional: Inherit the text color from the <li> */
  text-decoration: none; /* Remove underline from the <a> */
}

.dropdown-menu ul li a:hover {
  text-decoration: underline;
  background-color: hsl(0, 0%, 95%);
}
