* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Carlito";
  src: url("/image-carousels/fonts/Carlito/Carlito-Regular.ttf") format("ttf");
}

.image-carousels {
  color: white;
  text-transform: capitalize;
  display: flex;
  overflow-x: hidden;
}

.image-carousels .carousel-item {
  flex-shrink: 0; /* Prevent items from shrinking */
}
